

.imgText {
	text-align: center;
	letter-spacing: 1px;
	font-size: calc(14px + 0.5vw);
}

.cardText {
	display: flex;
	padding: 2rem 0;
	justify-content: space-around;
	flex-wrap: wrap;
	li {
		letter-spacing: 1.5px;
		font-weight: lighter;
	}
}

.picto {
	width: 4rem;
}

.icon {
	display: flex;
	color: white;
	background: var(--background);
	padding: 0.5rem 2rem;
	h2 {
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
		white-space: nowrap;
		// flex: 0 0;
		transition: 1s;
		margin-left: 1rem;
		text-align: center;
		background: var(--primary);
		color: white;
		padding: 10px 25px;
	}
}

.button {
	display: inline-block;
	font-size: 16px;
	margin: auto 0;
	cursor: pointer;

	background: none;
	border: 2px solid var(--primary);
	color: var(--text);
	padding: 1rem 1.5rem;
	transition: 1s;
	// transform: translateX(4rem);

	&:hover {
		background: var(--primary);
		transition: 1s;
		color: #fff;
	}
}
